<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text</title>
</head>
<body>
    <h1>Paste  Text for here</h1>
    {% csrf_token %}
    <form id="textForm" method="POST" action="/analyze/">
        {% csrf_token %}
        <textarea id="userText" placeholder="Paste your text here"></textarea>
        <button type="submit">Analyze</button>
    </form>
    <div id="result"></div>


    {% comment %} <script>
        document.getElementById('textForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const text = document.getElementById('userText').value;
            const response = await fetch('/analyze/', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: new URLSearchParams({ 'text': text })
            });
            const data = await response.json();
            document.getElementById('result').innerText = `Result: ${data.result}`;
        });
    </script> {% endcomment %}
</body>
</html>
